{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@app": "./src"
        }
      }
    ]
  ],
  "ignore": ["./src/**/*.test.ts", "./src/**/__fixtures__/**/*"]
}
